body {
	background-color: #efefef;
}
.panel {
	float: left;
	width: 250px;
	margin: 15px 2px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
}
h2 {
	font-size: 2em;
}
#character img {
	display: block;
	margin: 10px auto;

}
.form-control:hover {
	border: 1px solid #428bca;
}
.fa {
	padding-right:5px;
}
.img-thumbnail {
	margin-bottom: 20px;	
}
.img-thumbnail i {
	font-size: 100px;
	color: #ddd;
	margin: 0 auto;
}
.die {
	width:30px;
	height:20px;
	background-image:url('../images/A_Die_clip_art.svg');
	background-size:23px 23px;
	background-repeat:no-repeat;
	background-position:center; 
}
.die:hover {
	background-size:28px 28px;
}
.modal-prompt {
	position: relative;
	padding: 20px;
}